@import "~bootstrap/scss/bootstrap.scss";

.stick{
    background-color: black;
    width: 15px;
    height: 150px;
    margin: auto;
}
.blackBox{
    width: 10%;
    height: 285px;
    background-color: black;
    margin: auto;
    padding-top: 1%;

}
.redCircle{
    background-color: red;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    margin: auto;
}
.yellowCircle{
    background-color: yellow;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.greenCircle{
    background-color: green;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    margin: auto;
    margin-bottom: 10%;
}
.selected{
    box-shadow: white 0px 0px 40px 20px;

}